node_modules
dist
.astro
.wrangler
.DS_Store
.env
.env.*
!.env.example
!directus/.env.prod.example
directus/.env
directus/.env.prod
directus/database
directus/database-prod
directus/uploads
directus/uploads-prod
directus/extensions
directus/templates/*
!directus/templates/posts-schema.json
